CHANNEL=your_channel
CHANNELS=your_channel,another_channel

TIMEZONE=Asia/Shanghai

TELEGRAM=your_telegram
TWITTER=your_twitter
GITHUB=your_github
DISCORD=https://DISCORD.com
PODCAST=https://PODCAST.com
MASTODON=mastodon.social/@Mastodon
BLUESKY=bsky.app

FOOTER_INJECT=FOOTER_INJECT
HEADER_INJECT=HEADER_INJECT

NO_FOLLOW=false
NO_INDEX=false
HIDE_DESCRIPTION=false

TELEGRAM_HOST=telegram.dog
STATIC_PROXY=""
GOOGLE_SEARCH_SITE=""
TAGS=""
FILTER_KEYWORDS=""
COMMENTS=""
REACTIONS=""
LINKS=""
NAVS=""
RSS_BEAUTIFY=""
